/* Estilo Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    background-color: #f8f7f7;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 800;
    color: #ffffff;
    background-color: #FF7629;
    border: 0;
    border-radius: 18px;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    box-shadow: 0px 0px 20px rgb(250, 250, 245);
    transform: scale(1.07);
}

h2.titulo-temas {
    color: #57606f;
    font-size: 33px;
    text-align: center;
    margin-top: 10px;
}

h2.titulo-temas span {
    color: #FF7629;
}

.btn-voltar button {
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    background-color: #FF7629;
    border: 0;
    border-radius: 18px;
    cursor: pointer;
    transition: .2s;
    margin-top: 20px;
    top: 0;
}

/* ----------- Estilo do cabeçalho ----------------- */
header {
    background-color: #e0e0e0;
    padding: 20px 4%;
    
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

header a {
    color: #838485;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

header .menu-desktop a:hover {
    color: #FF7629;
    transform: scale(1.15);
    transition: .5s;
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

/* ---------- Estilo menu Mobile ----------------- */
.btn-abrir-menu i {
    color: #FF7629;
    font-size: 40px;
    display: none;
}

.menu-mobile {
    background-color: #555453;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    transition: .3s;
    overflow: hidden;
    display: none;
}

.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu {
    display: block;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    padding: 10px 10%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: #FF7629;
    color: #726c6c;
}

.overlay-menu {
    background-color: #000000c5;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

.menu-mobile .btn-fechar {
    padding: 20px 8%;
}

.menu-mobile .btn-fechar i {
    color: #FF7629;
    font-size: 25px;
}

/* ----------------- Estilo do Topo do Site ---------------- */
section.topo-do-site {
    padding: 95px 5%;
    height: 95vh;
    
    
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 40px;
    
}

.topo-do-site h1 {
    color: #726c6c;
    font-size: 35px;
    line-height: 10px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #FF7629;
    font-size: 40px;
}

.topo-do-site .txt-topo-site p {
    color: #726c6c;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 45px;
    margin-right: 135px;
}

.topo-do-site .txt-topo-site p span {
    color: #FF7629;
}

.topo-do-site .img-topo-site img {
    width: 110%;
    margin-right: 55px;
    position: relative;
    animation: flutuar 2.5s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }
    100% {
        top: 20px;
    }
}

/* -------- Estilo Especialidades ------- */

section.especialidades {
    padding:20px 4%;
    height: 97vh;
    box-shadow: 0 0 30px #bebbbb;
}

section.especialidades .flex {
    gap: 30px;
}

.especialidades .especialidades-box {
    color: #726c6c;
    padding: 0px 4% 5%;
    border-radius: 20px;
    margin-top: 70px;
    transition: .5s;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px #bebbbb;
}

.especialidades .especialidades-box i {
    font-size: 65px;
    color: #FF7629;
}

.especialidades .especialidades-box h3 {
    font-size: 30px;
    margin-top: 20px;
    text-align: justify;
}

/* ----------- Estilo Sobre Mim  ----------- */
section.sobre-mim {
    padding: 10px 4%;
    height: 98vh;
    background-color:#e0e0e0;
}

section.sobre-mim .flex {
    align-items: flex-start;
    gap: 40px;
    margin-top: 20PX;
}

.sobre-mim .txt-sobre {
    color: #726c6c;
}

.sobre-mim .txt-sobre h2 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 28px;
}

.sobre-mim .txt-sobre h2 span {
    color: #FF7629;
    display: block;
}

.sobre-mim .txt-sobre p {
    margin: 20px 0;
    font-size: 16px;
    text-align: justify;
    color: #726c6c;
}

.btn-social button {
    width: 45px;
    height: 45px;
    border-radius: 30px;
    border: none;
    background-color: #FF7629;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    margin: 0 5px;
    transition: .3s;
}

/* -------Estilo Portifolio -----------*/
section.portifolio {
    padding: 15px 4%;
    height: 98vh;
    background-color:#e0e0e0;
}

section.portifolio .flex{
    justify-content: space-around;
    margin-top: 15px;
}

.img-port{
    width: 360px;
    height: 450px;
    
    background-size: cover;
    background-position: 100% 0%;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    
}

.img-port:hover {
    background-position: 100% 100%;
    transition: 5s;
}

.img-port:not(:hover) {
    background-position: 100% 0%;
    transition: 22s;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 36, 1, 0.918);
    border-radius: 20px;
    border: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: 2s;
}

.overlay:hover {
    opacity: 1;
}

/* Estilo Footer */
footer {
    background-color: #cccbcb;
    text-align: center;
    padding: 30px 4%;
    
}

footer .top-footer button{
    width:60; 

}

footer .bottom-footer{
    color: #696868;
    font-size: 20px;
}


footer .line-footer {
    padding: 10px 0;
}

.borda {
    border-top: 4px solid #FF7629;
}

footer .line-footer p{
    color: #FF7629;
    font-size: 20px;
}


/* Layout Responsivo */
@media screen and (max-width: 1020px) {
    /* Classes Gerais */
    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    /* cabeçalho */
    .menu-desktop, .btn-contato {
        display: none;
    }

    /* Topo do site */
    section.topo-do-site {
        padding: 10px 8%;
    }
    .topo-do-site h1 {
        font-size: 30px;
        line-height: 30px;
    }
    .topo-do-site .img-topo-site img {
        width: 100%;
    }
    section.topo-do-site .flex {
        gap: 15px;
    }

    /* Especialidades */
    section.especialidades {
        padding: 20px 8%;
    }
    section.especialidades .flex {
        gap: 5px;
    }
    h2.titulo-temas {
        font-size: 30px;
        line-height: 40px;
    }

    /* Sobre mim */
    section.sobre-mim {
        padding: 20px 8%;
    }
    .sobre-mim .txt-sobre h2 {
        font-size: 30px;
        line-height: 35px;
        text-align: center;
    }
    .btn-social {
        text-align: center;
    }
    .img-sobre img {
        width: 100%;
    }

    /* Portifolio */
    section.portifolio {
        padding: 30px 4%;
    }
    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }
    section.portifolio .flex {
        gap: 40px;
    }

    /* Menu */
    .btn-abrir-menu i {
        display: block;
    }
    .menu-mobile {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    /* Ajustes adicionais para telas menores */
    section.topo-do-site {
        height: auto;
    }
    section.especialidades {
        height: auto;
    }
    section.sobre-mim {
        height: auto;
    }
    section.portifolio {
        height: auto;
    }

    .especialidades .especialidades-box {
        padding: 40px;
    }
}
